#room-list {
    position: fixed;
    left: 0;
    height: 100%;
    width: 15%;
    background-color: #797979;
    overflow-x: hidden;
    /*padding-top: .5em;*/
}

#rooms {
    background-color: darkgray;
    margin: .2em;
    border: .2em solid black;
    border-radius: .5em;
}

.active {
    background-color: white;
    color: black;
}