.roomId {
  height: 5vh;
  background-color: darkgray;
  top: 0;
  text-align: center;
  color: white;
  padding: .05em;
  margin-top: -0.5em;
  margin-left: -0.5em;
}

.roomId p {
  position: relative;
  font-weight: bolder;
  color: white;
}




/*
.roomContent {
  display: inline-block;
  width: 85%;
}


.messageList {
  margin-left: 15%;
}

.userInfo {
  z-index: 1;
  float: left;
  background-color: red;
}

 */