
.roomId {
  background-color: #666;
  top: 0;
  text-align: center;
  color: white;
  padding: .05em;
}

.roomListInfo {
  background-color: darkgray;
  float: left;
  width: 30%;
  height: 100%;
  padding: 0.05em;
}

.roomContent {
  padding: 0.05em;
  width: 70%;
  height: 100%;
  background-color: deeppink;

}

/*
.roomContent {
  display: inline-block;
  width: 85%;
}


.messageList {
  margin-left: 15%;
}

.userInfo {
  z-index: 1;
  float: left;
  background-color: red;
}

 */